html,
body {
    height: 100%;
    width: 100%;
}

.bg {
    height: 100%;
    background-image: url("../img/background.png");
    background-position: center center;
    background-size: cover;
    opacity: 0.4;
}

.main {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
}

.theGame {
    display: flex;

    width: 100%;
}

.item {
    width: 10%;
    height: 10%;
}

.game-row {
    width: 100%;
    height: 100%;
}

td {
    line-height: 0;
    margin: 0;
    padding: 0;
}

#googleMap {
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 1%;
    right: 1%;
    opacity: 0.6;
    transition: all .2s ease-in-out;
}

#googleMap:hover {
    opacity: 1;
    transform: scale(1.1);

    bottom: 30px;
    right: 30px;
}

#counter {
    width: 50px;
    height: 300px;
    position: absolute;
    bottom: 1%;
    left: 1%;
}

#gamePlay {
    margin: 0 auto;
}

.imgItemTen {
    width: 128px;
    height: 64px;
}

.imgItemSix {
    width: 128px;
    height: 64px;
}

.imgItem20 {
    width: 64px;
    height: 32px;
}

.selected {
    border: 3px solid red;
}